 <i class="icon-movie color-gray-light"></i>質問を検索
               
  <%= form_tag('/questions/search', method: :get) do %>
  <input class="search__query" name="keyword" placeholder="質問で検索" type="text" ><button class="row form" title="検索" type="submit"><i class="icon-search"></i></button></input>
  <% end %>
  <form accept-charset="utf-8" action="/" class="js-search-submit" method="get">
  </form>
            
  <p><a href='/questions/search'>質問一覧へ</a></p>     
          
  <i class="icon-movie color-gray-light"></i>検索結果

            
              <ul class="listview js-lazy-load-images">
                <% @question.each do |question| %>
                
                 <%= render @question %>
                    
                 <% end %>
            
        